.Home {

    & label {
        display: block;
    }

    & input {
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 15px;
    }

    & > a {
        display: block;
        margin-top: 15px;
    }
}
